node_modules
public/hot
public/storage
storage/*.key
vendor
.idea
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
dump.rdb
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
*~
tags
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
coverage
public/coverage
